body{
    background: lightsalmon;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: orange;
    margin: 20px;
}

.add-btn{
    background: lightgoldenrodyellow;
    width: 40px;
    height: 40px;
}
.app-title{
    text-align: center;
    color: lightgoldenrodyellow;
    font-size: 70px;
}

.list {
    color: lightgoldenrodyellow;
}